@model List<Dictionary<string, object>>

@{
    ViewData["Title"] = "AddUser";
}

<h1>AddUser</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Tel_num
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item["Id"]
            </td>
            <td>
                @item["Name"]
            </td>
            <td>
                @item["Email"]
            </td>
            <td>
                @item["Tel_num"]
            </td>
            <td>
                <a asp-action="AddUser" asp-route-id="@item["Id"]" asp-route-group_id="@ViewBag.Id">Add</a> |
                @*<a asp-action="DeleteGroup_User" asp-route-id=@item["Id"]>Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
