@model List<Dictionary<string, object>>

@{
    ViewData["Title"] = "Қолданушыны қосу";
}

<h1>Қолданушыны қосу</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                Аты-жөні
            </th>
            <th>
                Email
            </th>
            <th>
                Телефон нөмірі
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @item["Id"]
                </td>
                <td>
                    @item["Name"]
                </td>
                <td>
                    @item["Email"]
                </td>
                <td>
                    @item["Tel_num"]
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="AddUser" asp-route-id="@item["Id"]" asp-route-group_id="@ViewBag.Id">Қосу</a>
                </td>
            </tr>
        }
    </tbody>
</table>
