@model aspnet_edu_center.Models.Group

@{
    ViewData["Title"] = "DetailsGroup";
}

<h1>DetailsGroup</h1>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supervisor_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supervisor_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_form)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_form)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_to)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_to)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditGroup" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="ViewGroups">Back to List</a>
</div>
