@model List<Dictionary<string, object>>

@{
    ViewData["Title"] = "Сабақ кестесі";
}

<h1>Сабақ кестесі</h1>

<p>
    <a class="text-dark btn btn-primary" asp-route-id="@ViewBag.Group_id" asp-action="CreateTimeTableGroup">Сабақ қосу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Апта күні
            </th>
            <th>
                Уақыты
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item["Week_day"]
                </td>
                <td>
                    @item["Time"]
                </td>
                <td>

                    <div class="btn-group rounded" role="group">
                        <a class="text-dark btn border" asp-route-id="@item["Id"]" asp-action="EditTimeTableGroup">Өзгерту</a>
                        <a class="text-dark btn border" asp-route-id="@item["Id"]" asp-route-group_id="@ViewBag.Group_id" asp-action="DeleteTimeTableGroup">Жою</a>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
