@model List<Dictionary<string, object>>

@{
    ViewData["Title"] = "Группаның қолданушылары";
}

<h1>Группаның қолданушылары</h1>

<p>
    <a class="text-dark btn btn-primary" asp-action="AddUser" asp-route-id="@ViewBag.id">Группаға қолданушыны қосу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Аты-жөні
            </th>
            <th>
                Email
            </th>
            <th>
                Телефон нөмірі
            </th>
            <th>
                Группа Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item["Name"]
                </td>
                <td>
                    @item["Email"]
                </td>
                <td>
                    @item["Tel_num"]
                </td>
                <td>
                    @item["Group_Id"]
                </td>
                <td>
                    <div class="btn-group rounded w-100" role="group">
                        <a class="text-dark btn border" asp-route-id=@item["Id"] asp-route-group_id=@ViewBag.id asp-action="DeleteGroup_User">Жою</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
