@model IEnumerable<aspnet_edu_center.Models.User> 

@{
    ViewData["Title"] = "Қолданушылар";
}

<h1>Қолданушылар</h1>

<p>
    <a class="text-dark btn btn-primary" asp-action="CreateUser">Жаңа қолданушыны қосу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Аты-жөні
            </th>
            <th>
                Email
            </th>
            <th>
                Құпия сөз
            </th>
            <th>
                Телефон нөмірі
            </th>
            <th>
                Рөл Id
            </th>
            <th>Функциялар</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel_num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role_id)
            </td>
            <td>
                <div class="btn-group rounded" role="group">
                    <a class="text-dark btn border" asp-route-id="@item.Id" asp-action="EditUser">Өзгерту</a>
                    <a class="text-dark btn border" asp-route-id="@item.Id" asp-action="DetailsUser">Нақтырақ</a>
                    <a class="text-dark btn border" asp-route-id="@item.Id" asp-action="DeleteUser">Жою</a>
                </div>

            </td>
        </tr>
}
    </tbody>
</table>
