@model List<Dictionary<string, object>>


@{
    ViewData["Title"] = "Қолданушылар";
}

<h1>Қолданушылар</h1>

<p>
    <a class="text-dark btn btn-primary" asp-action="CreateUser">Жаңа қолданушыны қосу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Аты-жөні
            </th>
            <th>
                Email
            </th>
            <th>
                Құпия сөз
            </th>
            <th>
                Телефон нөмірі
            </th>
            <th>
                Рөл Id
            </th>
            <th>Функциялар</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item["Name"]
            </td>
            <td>
                @item["Email"]
            </td>
            <td>
                @item["Password"]
            </td>
            <td>
                @item["Tel_num"]
            </td>
            <td>
                @item["Role"]
            </td>
            <td>
                <div class="btn-group rounded" role="group">
                    <a class="text-dark btn border" asp-route-id=@item["Id"] asp-action="EditUser">Өзгерту</a>
                    <a class="text-dark btn border" asp-route-id=@item["Id"] asp-action="DetailsUser">Нақтырақ</a>
                    <a class="text-dark btn border" asp-route-id=@item["Id"] asp-action="DeleteUser">Жою</a>
                </div>

            </td>
        </tr>
}
    </tbody>
</table>
