@model List<Dictionary<string, object>>

@{
    ViewData["Title"] = "Группалар";
}

<h1>Группалар</h1>

<p>
    <a class="text-dark btn btn-primary" asp-action="CreateGroup">Группаны қосу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Группаның аты
            </th>
            <th>
                Группаның типі
            </th>
            <th>
                Эдвайзер
            </th>
            <th>
                Басталу уақыты
            </th>
            <th>
                Аяқталу уақыты
            </th>
            <th style="width:25%">Функциялар</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item["Name"]
            </td>
            <td>
                @item["Group_type"]
            </td>
            <td>
                @item["Supervisor"]
            </td>
            <td>
                @item["date_form"]
            </td>
            <td>
                @item["date_to"]
            </td>
            <td>

                <div class="btn-group rounded w-100" role="group">
                    <a class="text-dark btn border" asp-route-id=@item["Id"] asp-action="EditGroup">Өзгерту</a>
                    <a class="text-dark btn border" asp-route-id=@item["Id"] asp-action="DetailsGroup">Нақтырақ</a>
                    <a class="text-dark btn border" asp-route-id=@item["Id"] asp-action="DeleteGroup">Жою</a>
                </div>

                <div class="btn-group rounded w-100" role="group">
                    <a class="text-dark btn border" asp-route-id=@item["Id"] asp-action="ViewGroup_Users">Қолданушылар</a>
                    <a class="text-dark btn border" asp-route-id=@item["Id"] asp-action="TimeTableGroup">Сабақ кестесі</a>
                </div>

            </td>
        </tr>
}
    </tbody>
</table>
