@model List<Dictionary<string, object>>

@{
    ViewData["Title"] = ViewBag.User_Name;
}

<h1>@ViewBag.User_Name</h1>

<h3>Бағалар</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Баға
            </th>
            <th>
                Дата
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item["Grades"]
                </td>
                <td>
                    @item["Date"]
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Өткен тесттері</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Тесттің аты
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Tests)
        {
            <tr>
                <td>
                    @item["Test_Name"]
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="ViewTestAnswers" asp-route-id="@item["Id"]">Жауаптарын қарау</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Келу-келмеу</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Келді
            </th>
            <th>
                Дата
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Attendances)
        {
            <tr>
                <td>
                    @if (item["Camed"])
                    {
                        <p>Келді</p>
                    }
                    else
                    {
                        <p>Келмеді</p>
                    }
                </td>
                <td>
                    @item["Date"]
                </td>
            </tr>
        }
    </tbody>

</table>


<h3>Оқушының документі</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Тіркелген документ
            </th>
            <th>
                Документ
            </th>
            <th>
                Дата
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.StudDocuments)
        {
            <tr>
                <td>
                    @item["Id"]
                </td>
                <td>
                    <a asp-action="DownloadDocument" asp-route-id="@item["Document_id"]">@item["Document_Teacher"]</a>
                </td>
                <td>
                    <a asp-action="DownloadStudDocument" asp-route-id="@item["Id"]">@item["Doc_name"]</a>
                </td>
                <td>
                    @item["created_at"]
                </td>
            </tr>
        }
    </tbody>

</table>

<h1>Оқушыңа балл қою</h1>

<form asp-action="CreateGrade" asp-controller="Teacher" asp-route-id="@ViewBag.Group_id" asp-route-user_id="@ViewBag.User_id" asp-anti-forgery="true">
    <div class="input-group w-25 mb-3">
        <input name="grade" type="number" class="form-control">
        <div class="input-group-append">
            <input class="btn btn-primary text-dark" type="submit" value="Жіберу" />
        </div>
    </div>
</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('#checkbox').change(function () {
        alert($(this).is(":checked"));
    });
</script>
