@model IEnumerable<aspnet_edu_center.Models.Document>
@using System.IO

@{

    ViewData["Title"] = "Документтер";
}

<h1>Документтер</h1>

<p>
    <a asp-action="AddDocument" asp-route-id=@ViewBag.Group_id>Документті қосу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Тақырыбы
            </th>
            <th>
                Документтің аты
            </th>
            <th>
                Функциялар
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doc_name)
            </td>
            <td>
                <div class="btn-group rounded" role="group">
                    <a class="text-dark btn border"  asp-action="DeleteDocument" asp-route-id="@item.Id" asp-route-group_id="@ViewBag.Group_id">Жою</a>
                    <a class="text-dark btn border" asp-action="DownloadDocument" asp-route-id="@item.Id" asp-route-group_id="@ViewBag.Group_id">Баптау</a>
                </div>

            </td>
        </tr>
}
    </tbody>
</table>
