@model IEnumerable<aspnet_edu_center.Models.Document>
@using System.IO

@{

    ViewData["Title"] = "ViewDocuments";
}

<h1>ViewDocuments</h1>

<p>
    <a asp-action="AddDocument" asp-route-id=@ViewBag.Group_id>Add Document</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doc_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doc_name)
            </td>
            <td>
                <a asp-action="DeleteDocument" asp-route-id="@item.Id" asp-route-group_id="@ViewBag.Group_id">Delete</a> | 
                <a asp-action="DownloadDocument" asp-route-id="@item.Id" asp-route-group_id="@ViewBag.Group_id">Download</a>
            </td>
        </tr>
}
    </tbody>
</table>
