@*@model List<Dictionary<string, object>>*@
@model IEnumerable<aspnet_edu_center.Models.Document>

@{
    ViewData["Title"] = "DetailsGroup";
}

<h1>DetailsGroup</h1>

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Student/ViewGrades">View Grades</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Student/ViewAttendance">View Attendance</a>
    </li>
    @*<li class="nav-item">
        <a class="nav-link text-dark" href="/Student/AddDocument">Add Document</a>
    </li>*@
</ul>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doc_name)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="DownloadDocument" asp-route-id="@item.Id" asp-route-group_id="@ViewBag.Group_id">@Html.DisplayFor(modelItem => item.Doc_name)</a>
            </td>
            <td>
                <a asp-action="AddDocument" asp-route-id="@item.Id" asp-route-group_id="@ViewBag.Group_id">Прикрепить документ</a>
            </td>

        </tr>
        }
    </tbody>
</table>

