@*@model List<Dictionary<string, object>>*@
@model IEnumerable<aspnet_edu_center.Models.Document>

@{
    ViewData["Title"] = "Группа";
}

<h1>Группа</h1>

<div class="btn-group rounded mb-5" role="group">
    <a class="text-dark btn border" href="/Student/ViewGrades">Бағаларды қарау</a>
    <a class="text-dark btn border" asp-route-group_id=@ViewBag.Group_id asp-action="ViewTests">Тесттерді қарау</a>

    @*<a class="text-dark btn border" href="/Student/ViewTests/" ViewBag.Group_id>Тесттерді қарау</a>*@
    <a class="text-dark btn border" href="/Student/ViewAttendance">Келу-келмеу саны</a>
    <!-- <a class="text-dark btn border" href="/Student/AddDocument">Документ қосу</a> -->
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Группаның аты
            </th>
            <th>
                Документ
            </th>
            <th>
                Функциялар
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="DownloadDocument" asp-route-id="@item.Id" asp-route-group_id="@ViewBag.Group_id">@Html.DisplayFor(modelItem => item.Doc_name)</a>
            </td>
            <td>
                <a class="btn btn-primary text-dark" asp-action="AddDocument" asp-route-id="@item.Id" asp-route-group_id="@ViewBag.Group_id">Документті тіркеу</a>
            </td>

        </tr>
        }
    </tbody>
</table>

