@model List<Dictionary<string, object>>
@{
    ViewData["Title"] = "Сабақ кестесі";
}

<h1>Сабақ кестесі</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Группаның аты
            </th>
            <th>
                Группаның типі
            </th>
            <th>
                Эдвайзердың аты-жөні
            </th>
            <th>
                Апта күні
            </th>
            <th>
                Уақыты
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="DetailsGroup" asp-route-id="@item["Id"]">@item["Group_Name"]</a>
            </td>
            <td>
                @item["Group_type"]
            </td>
            <td>
                @item["Supervisor_Name"]
            </td>
            <td>
                @item["Week_day"]
            </td>
            <td>
                @item["Time"]
            </td>
        </tr>
        }
    </tbody>
</table>